SHELL=/bin/sh
HOME=/srv/ansible

*/5 * * * * ansible ansible-playbook playbooks/ansible/schedule/update_duckdns.yml --vault-pass-file keys/auto_vault_pw

0 * * * * ansible ansible-playbook playbooks/storage/backup/backup_docker_external.yml --vault-pass-file keys/auto_vault_pw
30 22 * * *  ansible ansible-playbook playbooks/storage/backup/backup_docker_backblaze.yml --vault-pass-file keys/auto_vault_pw