[global]
   workgroup = WORKGROUP
   server string = storage
   netbios name = storage
   security = user
   map to guest = bad user
   dns proxy = no

[media]
   path = /mnt/hdd/media
   browseable = yes
   writable = yes
   guest ok = yes
   read only = no
   force user = david
   force group = david
   create mask = 0660
   directory mask = 0770
